.tickets {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
  
}
.mainComp {
  flex: 1;
  padding: 10px;
  margin-bottom: 20px;
}
.mainComp{
    display: flex;
    flex-direction: column;
    
}
.mainComp .topic{
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
}
.mainComp .topic h2 img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.mainComp .topic span{
    font-size: 1rem;
    color: #6a6e75 ;
}
.mainComp .topic .topicddmore{
    display: flex;
    gap: 10px;
}
.mainComp .topic .topicddmore img{
    
    width: 20px;
    height: 20px;
}
.mainComp .card {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainComp  .card .cardEle {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mainComp .card .cardEle li {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 4px;
  padding: 6px;
}
.mainComp  .card .cardEle li .cardID {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  color: #6a6e75;
  font-size: 0.9rem;
}
.mainComp  .card .cardEle li .cardID img{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #d9d8d8;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.mainComp  .card .cardEle li .cardtitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 4px;
  margin-top: 6px
}
.mainComp  .card .cardEle li .cardtag{
    display: flex;
    margin-top: 6px;
    justify-content: start;
    align-items: center;
    gap: 8px;
    
}
.mainComp  .card .cardEle li .cardtag img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #e8e7e7;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
}
.mainComp  .card .cardEle li .cardtag p{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #6a6e75;
    font-weight: 500;
    border:1px solid #e8e7e7;
    padding: 4px;
    border-radius:7px
}
.mainComp  .card .cardEle li .cardtag p img{
    width: 12px;
    height: 12px;
    border:none
}
